Django==4.2.21
Pillow==11.1.0

django-allauth==65.11.2
django-debug-toolbar==6.0.0
django-environ==0.12.0
django-extensions==4.1.0
djangorestframework==3.16.1

flake8==7.3.0
isort==6.0.1

stripe==12.5.1

redis==6.4.0
celery==5.5.3
django-redis==6.0.0

psycopg2-binary==2.9.10